<div class="row">
    <div class="col-md-12 w-100">
        <a 
            style="cursor: pointer;" 
            class="list-group-item clearfix" 
            [routerLink]="[index]"
            routerLinkActive="active"
            (click)="onClickRecipe()"
        >
            <div style="float:left;max-width: 75%;">
                <h4 class="list-group-item-heading">{{ recipe.name | uppercase}}</h4>
                <p style="max-height: 80px;color:black;overflow: hidden;" class="list-group-item-text font-weight-italic">{{ recipe.description }}</p>
            </div>
            <div style="float:right;max-width: 25%;">

                <img [src]=" recipe.imagePath" alt="{{ recipe.imagePath }}" 
                class="img-fluid" style="max-height: 100px;" />

            </div>
        </a>
    </div>
</div>